<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
>
<xacro:macro name="rr_inertia_cylinder_solid" params="r h mass *origin">
	<inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
		    <inertia  ixx="${1/4*mass*r*r+1/12*mass+h*h}"  
                      iyy="${1/4*mass*r*r+1/12*mass+h*h}" 
                      izz="${1/2*mass*r*r}"
		    		  ixy = "0" ixz = "0" iyz = "0"  />		    
	</inertial>
</xacro:macro>
</robot>