<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="rr_portal_bar" params="name width len height weight">
<link name="${name}">
	<xacro:rr_inertia_box_solid x="${width}" 
		                        y="${len}" 
		                        z="${height}" 
		                        mass="${weight}">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:rr_inertia_box_solid>
	<visual>
		<geometry><box size="${width} ${len} ${height}" /></geometry>
		<material name="rr_m_gray_tp"/>
	</visual>
	
	<collision>
		<geometry><box size="${width} ${len} ${height}" /></geometry>		  	
	</collision>
</link>   	
</xacro:macro>
</robot>
