<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro" name="diff_drive_bot">
	
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/rapid_robot.xacro"/>

<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/properties.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/chassis.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/caster.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/drive.xacro"/>

<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/camera.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/imu.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/laser.xacro"/>
<!--TODO needs fixing <xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/bumpers.xacro"/>-->

<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/test_robots/diff_drive_bot/gps.xacro"/>

</robot>									