<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
> 
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/geometry/geo_ins.xacro"/>
<xacro:macro name="rr_gps_receiver" 
params= "name
		 reference_latitude
		 reference_longitude
		 reference_heading
		 reference_altitude
		 parent
	     has_inertia 
	     *origin 
	     *geometry 
	     *material 
	     *inertial
		">		 

<xacro:rr_geo_ins/>
<gazebo>
    <plugin name="${name}_controller" 
            filename="libhector_gazebo_ros_gps.so">
        <bodyName>${name}_link</bodyName>
        <frameId>${name}_link</frameId>
        <topicName>/${name}/fix</topicName>
        <velocityTopicName>/${name}/velocity</velocityTopicName>
        <referenceLatitude>${reference_latitude}</referenceLatitude>
        <referenceLongitude>${reference_longitude}</referenceLongitude>
        <referenceHeading>${reference_heading}</referenceHeading>
        <referenceAltitude>${reference_altitude}</referenceAltitude>
    </plugin>
</gazebo>  
</xacro:macro>  
</robot>