<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
	
 <xacro:macro name="rr_name_to_namelink" params="name">
<link name="${name}" />
<joint name="${name}_to_${name}_link_joint" type="fixed">
    <parent link="${name}_link" />
    <child link="${name}" />
    <origin xyz="0 0 0" rpy="0 0 0" />
</joint>
</xacro:macro>
	

</robot>									