<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
>
<xacro:macro name="rr_laser_2d" params="
	name
	topic_name
	update_rate
	visualize
	hor_samples
	hor_resolution
	hor_min_angle
	hor_max_angle
	range_min
	range_max
	range_resolution
	noise_type
    noise_mean
    noise_stddev
	parent
    has_inertia 
    *origin 
    *geometry 
    *material 
    *inertial
	*laser_pose
	">
	<xacro:rr_geo_ins/>
  <gazebo reference="${name}_link">
    <sensor type="gpu_ray" name="${name}_sensor">      
      <xacro:insert_block name="laser_pose" />
      <visualize>${visualize}</visualize>
      <update_rate>${update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${hor_samples}</samples>
            <resolution>${hor_resolution}</resolution>
            <min_angle>${hor_min_angle}</min_angle>
            <max_angle>${hor_max_angle}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>${range_min}</min>
          <max>${range_max}</max>
          <resolution>${range_resolution}</resolution>
        </range>
        <noise>
          <type>${noise_type}</type>
          <mean>${noise_mean}</mean>
          <stddev>${noise_stddev}</stddev>
        </noise>
      </ray>
      <plugin name="${name}_gpu_laser_controller" filename="libgazebo_ros_gpu_laser.so">
      	<topicName>${topic_name}</topicName>
        <frameName>${name}_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
</xacro:macro>


</robot>