<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Gazebo Colors -->
<xacro:macro name="rr_m_gz_green" params="name">
	<gazebo reference="${name}_link">
	<material value="Gazebo/Green" />
   </gazebo>
</xacro:macro>

<xacro:macro name="rr_m_gz_black" params="name">
	<gazebo reference="${name}_link">
	<material value="Gazebo/FlatBlack" />
   </gazebo>
</xacro:macro>
	
<!-- URDF colors -->
<xacro:rr_mat_color_def color="green" rgba="0 1 0 1" />
<xacro:rr_mat_color_def color="green_tp" rgba="0 1 0 .5" />
<xacro:rr_mat_color_def color="black" rgba="0 0 0 1" />
<xacro:rr_mat_color_def color="gray_tp" rgba="0.5 0.5 0.5 .9" />
<xacro:rr_mat_color_def color="gray" rgba="0.7 0.7 0.7 1" />
	
</robot>
	