<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
>
<xacro:macro name="rr_simple_box" 
	params="name x_size y_size z_size weight 
            fric_mu1=100 
            fric_mu2:=50
			fric_fdir:='1 1 1' 
 			kp:=2147483647.00  
			kd:=1.0
	        gazebo_material:='Gazebo/White' 
	        rviz_material:='rr_m_gray_tp'
			"	
			>		

<link name="${name}">
	<xacro:rr_inertia_box_solid x="${x_size}" 
		                        y="${y_size}" 
		                        z="${z_size}" 
		                        mass="${weight}">
    <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:rr_inertia_box_solid>
	<visual>
		<geometry><box size="${x_size} ${y_size} ${z_size}" /></geometry>
		<material name="${rviz_material}" />
	</visual>
	
	<collision>
		<geometry><box size="${x_size} ${y_size} ${z_size}" /></geometry>  	
	</collision>
</link>   	

    <gazebo reference="${name}">
      <mu1 value="${fric_mu1}" />
      <mu2 value="${fric_mu2}" />
      <kp  value="${kp}" />
      <kd  value="${kd}" />	
	  <material value="${gazebo_material}"/>
    </gazebo>
</xacro:macro>

</robot>