<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
> 
<xacro:include filename="$(find rapid_robot_xacros)/defs/geometry/geo_ins.xacro"/>
<!-- Example -->	
<!--
	<xacro:rr_gps_receiver  
		name="gps0"
	 	robot_namespace="${robot_namespace}"
		frame_id="world"
		topic_name="/fix"
		velocity_topic_name="/fix_vel"
		reference_latitude="49"
		reference_longitude="8"
		reference_heading="0"
		reference_altitude="0"
		parent="base_link"
		has_inertia="true">
	    <origin xyz="0 0 0" rpy="0 0 0" />
		<geometry>
			<box size="0.04 0.03 0.02" />
		</geometry>
		<material name="Black">
			<color rgba="0 0 0 1"/>		
		</material>
		 <xacro:inertia_box x="0.02" y="0.02" z="0.04" mass="0.1">
	      <origin xyz="0 0 0" rpy="0 0 0" />
	    </xacro:inertia_box>
	</xacro:rr_gps_receiver>
	<gazebo reference="gps0">
		<material value="Gazebo/FlatBlack" />
	</gazebo>
-->
<xacro:macro name="rr_gps_receiver" 
params= "name
		 robot_namespace
		 frame_id
		 topic_name
		 velocity_topic_name
		 reference_latitude
		 reference_longitude
		 reference_heading
		 reference_altitude
		 parent
	     has_inertia 
	     *origin 
	     *geometry 
	     *material 
	     *inertial
		">		 

<xacro:rr_geo_ins/>
	
<gazebo>
	<plugin name="${name}_controller" 
		    filename="libhector_gazebo_ros_gps.so">
		<robotNamespace>${robot_namespace}</robotNamespace>
		<bodyName>${name}_link</bodyName>
		<frameId>${frame_id}</frameId>
		<topicName>${topic_name}</topicName>
		<velocityTopicName>${velocity_topic_name}</velocityTopicName>
		<referenceLatitude>${reference_latitude}</referenceLatitude>
		<referenceLongitude>${reference_longitude}</referenceLongitude>
		<referenceHeading>${reference_heading}</referenceHeading>
		<referenceAltitude>${reference_altitude}</referenceAltitude>
	</plugin>
</gazebo>  
</xacro:macro>	
</robot>