<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Constants -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/constants.xacro"/>

<!-- Geometry -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/geometry/geo_ins.xacro"/>

<!-- Material -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/material/mat_def.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/material/materials.xacro"/>

<!-- Inertia -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/inertia/box_solid.xacro"/> 
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/inertia/cylinder_solid.xacro"/> 
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/inertia/sphere_shell.xacro"/> 
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/inertia/sphere_solid.xacro"/> 

<!-- Sensors -->
<!--<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/sensors/contact/bumper.xacro"/> disabled because not really useful with that topic-->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/sensors/distance/laser_2d.xacro"/> 
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/sensors/imaging/camera.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/sensors/inertia/imu.xacro"/>
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/sensors/position/gps.xacro"/>

<!-- Drives -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/drive/wheel_solid.xacro" />
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/drive/diff_drive.xacro" />

<!-- Joints -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/joints/ros_control.xacro" />
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/joints/fixed.xacro" />
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/joints/linear_axis.xacro" />
		
<!-- Fixes -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/fixes/id_link.xacro"/> 

<!-- Simple -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/simple/simple_box.xacro"/> 
	
<!-- Video -->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/video/screen.xacro"/> 
		
<!-- World 	-->
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/world/static.xacro"/> 
	
<!--
<xacro:include filename="$(find h4r_rapid_robot_xacros)/def/world/world_joint.xacro"/> 
-->
</robot>