<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
	
<xacro:rr_diff_drive
     parent="base_link"
     wheel_base_center_x="0"
     wheel_separation ="${wheel_separation}"
     wheel_diameter="${wheel_diameter}"
     wheel_width="${wheel_width}"
     wheel_torque="5.0"
     wheel_acceleration="1.0"
     wheel_joint_limit_vel="2.0"
     wheel_joint_limit_effort="2.0"
     wheel_friction1="100.0"
     wheel_friction2="100.0"
     wheel_contact_damping="1.0"
     wheel_contact_stiffness="1000000.0"
     wheel_mass="0.513"
     z_dist="0.12"
     cmd_topic="/cmd_vel"
     odom_topic="odom"
     odom_frame="odom"
     ros_plugin_always_on="true"
     ros_plugin_controller_name="diff_drv0"
     ros_plugin_update_rate="30"
     ros_plugin_odom_source="world"
     ros_plugin_publish_wheel_joint_state="true"
     ros_plugin_publish_wheel_tf="true"
     ros_plugin_publish_tf="1" />  
</robot>