<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		   <arg name="paused" value="true" />
	</include>
	
	
	  <arg name="rail_len" default="1.51" />
	  <arg name="rail_length_offset_start" default="0.01" /> 
	  <arg name="rail_length_offset_end"   default="0.01" /> 
	   
	  <arg name="boom_len" default="1.01" /> 
	  <arg name="boom_length_offset_start" default="0.01" /> 
	  <arg name="boom_length_offset_end"   default="0.01" /> 
	  	
	  <arg name="boom_support_height" default="0.5" /> 
	  	
	  <arg name="vertical_len" default="1.01" /> 
	  <arg name="vertical_length_offset_start" default="0.01" /> 
	  <arg name="vertical_length_offset_end"   default="0.01" /> 
	  		
	  <arg name="vertical_axis_slider_offset" default="-0.05" /> 		
	  	
	  	
	<param name="robot_description"  command="$(find xacro)/xacro --inorder '$(find h4r_rapid_robot_xacros)/def/test_robots/gantry_bot.xacro'
		rail_len:=$(arg rail_len)
		rail_length_offset_start:=$(arg rail_length_offset_start)
		rail_length_offset_end:=$(arg rail_length_offset_end)
		
		boom_len:=$(arg boom_len)
	    boom_length_offset_start:=$(arg boom_length_offset_start)
		boom_length_offset_end:=$(arg boom_length_offset_end)
	
		boom_support_height:=$(arg boom_support_height)
	
		vertical_len:=$(arg vertical_len)
		vertical_length_offset_start:=$(arg vertical_length_offset_start)
		vertical_length_offset_end:=$(arg vertical_length_offset_end)
			
		vertical_axis_slider_offset:=$(arg vertical_axis_slider_offset)	
		"/> 

	<node name="spawn_test_bot" pkg="gazebo_ros" type="spawn_model" 
	      args="-z 0 -urdf -param robot_description -model gantry"
		  required="false" /> 
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find h4r_rapid_robot_xacros)/rviz/portal.rviz" />
	

	<!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find h4r_rapid_robot_xacros)/config/gantry.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller joint_rail joint_boom joint_vertical"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">

  </node>
		
		
</launch>