<launch>
	<!--
	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
	-->
	  <arg name="x_axis_len" default="1.0" /> 
	  <arg name="y_axis_len" default="2.0" /> 
	  <arg name="z_axis_len" default="1.5" /> 
				
	  	
	  	
	<param name="robot_description"  command="$(find xacro)/xacro --inorder '$(find h4r_rapid_robot_xacros)/def/test_robots/portalbot.xacro'
		x_axis_len:=$(arg x_axis_len)
		y_axis_len:=$(arg y_axis_len)
		z_axis_len:=$(arg z_axis_len)
		"/>
		
	<node pkg="robot_state_publisher" type="state_publisher" 
		  name="robot_state_publisher">
		<!-- joint_states and robot_description are used in default -->
		<param name="publish_frequency" type="double" value="30.0"/>
		<param name="tf_prefix" type="string" value=""/>
	</node>
	
	<node name="spawn_test_bot" pkg="gazebo_ros" type="spawn_model" 
	      args="-z 0.2 -urdf -param robot_description -model Robot"
		  required="false" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find h4r_rapid_robot_xacros)/rviz/portal.rviz" />
</launch>