<launch>
	  <arg name="model_file" />
	  <arg name="model_name" />
	  <arg name="posX"  default="0" />
	  <arg name="posY"  default="0" />
	  <arg name="posZ"  default="0" />
	  <arg name="roll"  default="0" />
	  <arg name="pitch" default="0" />
	  <arg name="yaw"   default="0" />
	  <arg name="model_params" default="" />
	  	
	 <param name="$(arg model_name)_description" command="$(find xacro)/xacro --inorder $(arg model_params) $(arg model_file)" />
	 <node name="$(arg model_name)_spawner" pkg="gazebo_ros" type="spawn_model" 
           args="-x $(arg posX) -z $(arg posZ) -y $(arg posY) -R  $(arg roll) -P  $(arg pitch) -Y $(arg yaw) -urdf 
           -param $(arg model_name)_description
  	       -model $(arg model_name)"
           respawn="false" 
           output="screen" />
	 	
</launch>

<!-- Usage Example:
   <include file="$(find h4r_rapid_robot_xacros)/launch/spawn.launch" >  
          <arg name="model_file" value="$(find myPackage)/def/myModel.xacro" />
          <arg name="model_name" value="UNIQUE_model_name" />
          <arg name="posX" value="0" />
          <arg name="posY" value="0" />
          <arg name="posZ" value="0" />
          	          
          <arg name="roll"         value="0" />
          <arg name="pitch"        value="0" />
          <arg name="yaw"          value="0" />
          <arg name="model_params" value="static:=true" />
	</include> 
-->